/* * {
  background-color: rgba(1,1,1,0.05) !important;
} */

html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}

h1, h2, form label {
  font-family: 'Oswald', sans-serif;
  padding: 6px 0;
  margin: 0;

}

h1, h2, h3, form label {
  font-weight: normal;
  text-decoration: underline 2px;
  text-decoration-color: #F18A60;
}

#no-learning-label {
  font-weight: normal;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #111;
}

nav {
  list-style: none;
}

code {
  background-color: #eee;
  padding: 4px;
  border-radius: 4px;
}

pre {
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
  line-height: 2;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 5px solid #eee;
  padding-left: 12px;
  margin-left: 0;
  margin-bottom: 0;
}

hr {
  color: #F18A60;
}

.note img {
  max-width: 100%;
  max-height: 100%;
}

.button-as-link {
  background: none;
  border: none;

  cursor: pointer;
}

.errorlist {
  padding: 6px;
  background: #F18A60;   
}

#cookies {
  font-size: 12px;
}

#doc-notes {
  max-width: 70%;
  padding-top: 24px;
}

#user {
  display: flex;
  align-items: center;
  margin-top: 6px;
  padding-bottom: 16px;
  border-bottom: 1px solid #333;
}

.links-footer {
  list-style: none;
  padding: 6px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.links-footer li {
  padding: 4px 0;
}

.nav-footer {
  display: flex;
  justify-content: space-around;
}

.note {
  color: #333;
  padding: 26px;
  background: #fbfbfb;
  margin: 26px;
  box-shadow: #111 3px 3px 12px;
  border-right: 3px solid #555;
  border-bottom: 3px solid #333;
  background-size: 100% 100%;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  /* min-width: 45vw; */
}

form {
  display: flex;
  flex-direction: column;
}

.note-main {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-title{
  /* box-shadow: inset 0 0 4px #bbb; */
  margin: 0;
  line-height: .9rem;
  font-size: .9rem;
}

.single-note-title {
  font-size: 24px;
}

.note-content {
  flex-grow: 1;
  padding: 0;
  /* box-shadow: inset 0 0 4px #bbb; */
  overflow-y: auto;
  border-bottom: 2px dotted #bbb;
}

.note-bottombar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.note-buttons{
  display: flex;
}

#notes-sections {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.note-section {
  padding: 0 8px;
  font-size: 0.9em;
}

.note-section-title-wrapper {
  display: flex;
  align-items: baseline;
}
.note-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: normal;
  margin: 0;
}

.note-section-title-active {
  font-weight: bold;
}

.note-section-title-content {
  border-bottom: 1px solid #bbb;
}


.note-section-footer {
  width: 66%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  color: #777;
  padding: 0;
}

.note-list{
  list-style: none;
  padding: 0;
}

.note-list-item {
  margin: 0;
  padding: 4px;
  /* border: 1px solid #bbb; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #666;
  border-bottom: none;
  border-top-left-radius: 2px;
}

.note-list-item a {
  flex: 1;
    letter-spacing: 0.335px
}

.note-list-item a:hover {
  font-weight: bold;
  letter-spacing: 0;
}


.note-list-links {
  display: flex;
}

.note-related {
  font-size: 0.9em;
  margin: 8px;
  padding: 8px;
  border-bottom: 2px solid #bbb;
  border-top: 2px solid #bbb;
}

.note-related-list {
  margin: 6px 0;
  padding: 0;
  border-bottom: #666 solid 1px;
  list-style: none;
}

.note-list-title {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  padding-right: 8px;
  text-decoration-color: #bbb;
}

.form-search-div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 4px 0;
}

.search-input {
  flex-grow: 1;
  width: 50px;
}

.connect-sender img {
  background: #F18A60;
  filter: none;
  border-radius: 50%;
}

.connect-receiver:hover img {
  background: #F18A60;
  filter: none;
  border-radius: 50%;
}



.note-content h1 {
  font-size: 24px;
}

.note-content h2 {
  font-size: 20px;
}

.note-content h3 {
  font-weight:600;
}

.note-content h1, h2, h3, h4, h5, h6 {
  padding: 6px 0;
  margin: 6px 0;
}

/* AUTH */

.auth-form {
  flex-grow: 1;
  width: 50%;
  margin:auto;
}

.form-buttons {
  display: flex;
  margin-top: 6px;
  width: 100%;
  justify-content: flex-end;
  align-items: baseline;
}

.button-primary {
  background: rgb(240,154,119);
  background: linear-gradient(180deg, rgba(240,154,119,1) 0%, rgba(241,138,96,1) 35%, rgba(201,115,80,1) 100%);
  border-radius: 4px;
  padding: 6px;
  margin: 4px 0;
  color: white;
  text-decoration: none;
  border: 0;
}

.button-primary:disabled,
.button-primary[disabled]{
  background: #ccc;
}

.form-submit {
  margin-left: 6px;
}
/* INDEX/LANDING PAGE */

#note-demo {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 200px;
}

#note-indexlinks {
  margin: auto;
}

#main-index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-content {
  width: 55%;
  margin: auto;
}

/* NOTES VIEW */

#body-default {
  display: flex;
  flex-direction: row;
}

#sidebar {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  width: 20%;
  min-width: 300px;
  position: relative;
  padding: 8px;
}

.content {
  flex: 1;
  background-color: #333;
  overflow-y: auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.note-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-topbar a {
  text-decoration: none;
}

.icon-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 8px;

}

.icon {
  height: 16px;
  filter: invert(19%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(91%) contrast(93%);
}

.icon:hover {
  filter: invert(72%) sepia(10%) saturate(6423%) hue-rotate(321deg) brightness(103%) contrast(89%);
}

.spacer {
  margin-bottom: 4px;
}

.title-icon {
  height: 24px;
}

.slogan {
  font-size: 4rem;
  line-height: 4rem;
}

.index-font {
  color: white;
  padding: 0;
  margin: 0;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-template-rows: repeat(2, auto);
}

#doc-notes {
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 70vh;
}

.index-noteholder {
  width: 60%;
}


#index-ul {
  list-style: none;
}

.index-buttonbar {
  font-size: 2em;
  display: flex;
  text-align: center;
  padding: 32px 0;
}

.index-buttonbar > * {
  margin: 0 12px;
  color: white;
}


.warning {
  background-color: #F18A60;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 6px;
}

#about-notes {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows:  40vh 33vh;
  grid-template-areas:
    "a b"
    "c d";
}

#note-pricing {
  grid-area: c;
}

#profile-notes {
  display: flex;
}

#settings-notes {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "a c";
}

/* Sidebar Collapse */
.sidebar-manager {
  position: absolute;
  right: -6px;
  top: 50%;
}

#sidebar-hint {
  position: relative;
  padding-right: 8px;
  background: #f6f6f6;
}

/* General */

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #F18A60;
  border-radius: 50%;
  display: inline-block;
}

/* LEARNING */

#quality-rating {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#learning-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c";
}

#learning-rating-wrapper {
  grid-area: c;
}

#note-backsite {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#signup-voucher {
  margin: 12px 0;
  border-top: 2px dotted #bbb;
  border-bottom: 2px dotted #bbb;
  padding: 12px 0;

}
