{% extends 'boilerplate/page.html' %}
{% block content %}
<div id="content">
    <form method="post">
        {% csrf_token %}
       {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    // Get references to the relevant elements
    var typeField = document.getElementById("id_type");
    var backSection = document.getElementById("id_back").parentNode;

    // Set the initial visibility of the back field
    if (typeField.value !== "learn") {
        backSection.style.display = "none";
    }

    // Add an event listener to the type field to toggle visibility of the back field
    typeField.addEventListener("change", function() {
        if (typeField.value === "learn") {
            backSection.style.display = "block";
        } else {
            backSection.style.display = "none";
        }
    });
</script>



{% endblock content %}