{% extends 'boilerplate/page.html' %}
{% block content %}

  <div class="border-t-2 py-4 flex-grow">
    What books should every founder read? Which daily habits have the most impact? Where do indie hackers get the wisdom,
    motivation and inspiration to keep going? We have the answer.

    One card at a time, you will walk the path of the true maker.
  </div>


<small>
  <a href="/privacy" class="link">Privacy Policy</a>
  <a href="/terms" class="link">Terms of Service</a>
</small>
{% endblock content %}