{% extends 'boilerplate/page.html' %}
{% block content %}

<main>
  <div class="border-t-2 py-4">
    <p>
      Right now, your progress is saved on your device. If you clear your browser data, you'll lose your progress. 

    </p>
    <p>
      Sign up for Premium at just <span class="font-bold">$4/month</span>.
      Your progress will live safely in the cloud, and you'll be able to access it from any device.
    </p>
    <p class="flex justify-center p-4">
      <a class="btn btn-primary" href="convert">Sign Up Now</a>
    </p>
    <p class="flex justify-center p-4">
      <a class="btn btn-sm" href="{% url 'login' %}">I already have an account</a>
    </p>
  </div>

</main>
{% endblock content %}