{% extends 'boilerplate/page.html' %}
{% block content %}
<p class="text-center">
  Become a better maker, one card at a time. <br>
  Try it <span class="">live</span>, right here 👇
</p>
<div class="flex flex-col flex-grow justify-around">

  {% if card %}
  <div class="card p-2 bg-base-200 shadow-xl">
    <figure class="">
      <img src="https://source.unsplash.com/{{ card.img_url }}/600x300" alt="" />
    </figure>
    <div class="card-body">
      <div class="badge">
        {{ card.human_readable_type }}
        {% if card.human_readable_type == 'Habit' or card.human_readable_type == 'Self Check-In' %}
        , every
        {% if card.interval == 1 %}
        day
        {% else %}
        {{ card.every }}
        {% if card.interval_unit == 'd' %}
        days
        {% else %}
        hours
        {% endif %}
        {% endif %}
        {% endif %}
      </div>

      <!-- if Article -->
      {% if card.human_readable_type == 'Article' %}
      <h2 class="card-title text-xl">
        Read this and make notes:
      </h2>
      <p class="text-2xl">
        <a href="{{ card.front }}" class="link" target="_blank" rel="noopener noreferrer">
          {{ card.title }}
        </a>
      </p>
      <!-- if Book -->
      {% elif card.human_readable_type == 'Book' %}
      <h2 class="card-title text-xl">
        Read at least 1 page of:
      </h2>
      <p class="text-2xl">
        {{ card.title }}
      </p>
      {% else %}
      <h2 class="card-title text-4xl">{{ card.title }}</h2>
      <p class="text-xl">
        {{ card.front }}
      </p>
      {% endif %}

    </div>
  </div>

  <form class="flex gap-4 justify-center mt-4" action="/" method="POST">
    <input type="hidden" name="card-id" value="{{ card.id }}">
    {% csrf_token %}
    {% if card.human_readable_type == 'Habit'%}
    <button type="submit" href="/" class="btn bg-red-400 text-slate-800" value="" name="not-today">Not Today</button>
    <button type="submit" href="/" class="btn bg-yellow-400 text-slate-800" value="" name="do-later">Do Later</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value="" name="done">Done</button>
    {% endif %}
    <!-- if type check: No, Kind Of, Yes -->
    {% if card.human_readable_type == 'Self Check-In'%}
    <button type="submit" href="/" class="btn bg-red-400 text-slate-800" value="" name="no">No</button>
    <button type="submit" href="/" class="btn bg-yellow-400 text-slate-800" value="" name="kind-of">Kind Of</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value="" name="yes">Yes</button>
    {% endif %}
    <!-- if type misc: "Show Next", "Cool, thanks!" -->
    {% if card.human_readable_type == 'Miscellaneous'%}
    <button type="submit" href="/" class="btn bg-yellow-400 text-slate-800" value="" name="show-next">Show Next</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value="" name="cool-thanks">Cool, thanks!</button>
    {% endif %}
    <!-- if article: "Not Today", "Made Some Progress", "Done" -->
    {% if card.human_readable_type == 'Article'%}
    <button type="submit" href="/" class="btn bg-red-400 text-slate-800" value="" name="not-today">Not Today</button>
    <button type="submit" href="/" class="btn bg-yellow-400 text-slate-800" value="" name="made-some-progress">Made Some Progress</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value="" name="done">Done</button>
    {% endif %}
    <!-- if book: "Not Today", "Done", "Finished Book" -->
    {% if card.human_readable_type == 'Book'%}
    <button type="submit" href="/" class="btn bg-red-400 text-slate-800" value="" name="not-today">Not Today</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value="" name="done">Done</button>
    <button type="submit" href="/" class="btn bg-blue-400 text-slate-800" value="" name="finished-book">Finished Book</button>
    {% endif %}
    <!-- if learn: "Wrong", "Correct", "Easy" -->
    {% if card.human_readable_type == 'Learning'%}
    <button type="submit" href="/" class="btn bg-red-400 text-slate-800" value=""  name="wrong">Wrong</button>
    <button type="submit" href="/" class="btn bg-yellow-400 text-slate-800" value=""  name="correct">Correct</button>
    <button type="submit" href="/" class="btn bg-green-400 text-slate-800" value=""  name="easy">Easy</button>
    {% endif %}
  </form>

</div>

{% else %}

<h2 class="text-4xl text-center">Not bad, you are all catched up. Come back in a while and we will have new due cards for you!</h2>

{% endif %}

{% endblock content %}