{% extends 'boilerplate/page.html' %}
{% block content %}
<div id="content" class="row" x-data="{ showBack: false }">
  <div class="two columns">
    <div class="tool border p m">
      <a href="cards/{{ card.id }}/edit">
        Edit Card
      </a>
    </div>
    <div class="tool border p m">
      <a href="cards/{{ card.id }}/delete">
        Delete Card
      </a>
    </div>
  </div>
  <div class="nine columns">
    {% if card %}
    {% load markdown %}
    <div class="card m ">
      <div class="badge">
        {{ card.get_type_display }}
        {% if card.type == 'habit' or card.type == 'check' %}
        , every
        {% if card.interval == 1 %}
        day
        {% else %}
        {{ card.interval }}
        {% if card.interval_unit == 'd' %}
        days
        {% else %}
        hours
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
      <div class="m-b">
        {% for tag in card.tags.all %}
        <div class="badge">
          {{ tag }}
        </div>
        {% endfor %}
      </div>


      <div class="m-t">
        <!-- if Project -->
        {% if card.type == 'project' %}
        <h6>
          Today, work on this:
        </h6>
        <!-- if Article -->
        {% elif card.type == 'article' %}
        <h6>
          Read this and make notes:
        </h6>
        <!-- if Book -->
        {% elif card.type == 'book' %}
        <h6>
          Read at least 1 page of:
        </h6>
        {% endif %}
        <p>
          {{ card.front|markdown|safe}}
        </p>
        {% if card.back %}
        <div x-show="showBack" x-cloak>
          <hr>
          <div x-show="showBack">
            {{ card.back|markdown|safe }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    {% if card.type == 'learn' %}
    <div class="m center" x-show="!showBack">
      <button @click="showBack = true">Reveal</button>
    </div>

    <form method="POST" class="m center" x-show="showBack" x-cloak action="/handle-review">
      <input type="hidden" name="card-id" value="{{ card.id }}">
      {% csrf_token %}

      <!-- TODO: don't like this naming a lot -->

      <button type="submit"  name="0">Blackout</button>
      <button type="submit"  name="1">Wrong</button>
      <button type="submit"  name="2">Incorrect But Remembered</button>
      <button type="submit"  name="3">Correct But Hard</button>
      <button type="submit"  name="4">Good</button>
      <button type="submit"  name="5">Easy</button>
    </form>
    {% else %}


    <form method="POST" class="m center" action="/handle-review">
      <input type="hidden" name="card-id" value="{{ card.id }}">
      {% csrf_token %}
      {% if card.type == 'habit'%}
      <!-- not today, do later, done -->
      <button type="submit"  name="not-today">Not Today</button>
      <button type="submit"  name="do-later">Do Later</button>
      <button type="submit"  name="done">Done</button>
      <!-- if type check: No, Kind Of, Yes -->
      {% elif card.type == 'check'%}
      <button type="submit"  name="no">No</button>
      <button type="submit"  name="kind-of">Kind Of</button>
      <button type="submit"  name="yes">Yes</button>
      <!-- if type misc: "Show Next", "Cool, thanks!" -->
      {% elif card.type == 'misc'%}
      <button type="submit"  name="show-next">Show Next</button>
      <button type="submit"  name="cool-thanks">Cool, thanks!</button>
      {% elif card.type == 'article'%}
      <button type="submit"  name="not-today">Not Today</button>
      <button type="submit"  name="do-later">Do Later</button>
      <button type="submit"  name="made-some-progress">Made Some Progress</button>
      <button type="submit"  name="finished">Finished</button>
      <!-- if book: "Not Today", "Done", "Finished Book" -->
      {% elif card.type == 'book'%}
      <button type="submit"  name="not-today">Not Today</button>
      <button type="submit"  name="do-later">Do Later</button>
      <button type="submit"  name="done">Done</button>
      <button type="submit"  name="finished-book">Finished
        Book</button>
      {% elif card.type == 'project' %}
      <button type="submit"  name="done">Ok, got it scheduled</button>
    </form>

    {% else %}

    <h2>Not bad, you are all catched up. Come back in a while and we will have new due cards
      for you!</h2>

    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}

{% endblock content %}