{% extends 'boilerplate/page.html' %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<div class="note auth-form">

  <h2>Sign Up</h2>
  <form method="post" class="bg-base-200 p-4 rounded-box">
    {% csrf_token %}
    <!-- loop form fields -->
    
    {% for field in form %}
    <div class="form-control my-4">
      <label class="input-group" for ="{{ field.id_for_label }}">
        <span> {{ field.label }} </span>
        <div class="border-2">
          {{ field }}
        </div>
      </label>
      {% if field.help_text %}
      <small class="form-text text-muted mt-2">{{ field.help_text }}</small>
    {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary"  name="redirect_to" value="/payment_form">Save & continue to payment</button>
  </form>

</div>
{% endblock %}
