<!DOCTYPE html>
<html lang="en" class="full-height">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kaado 2</title>
  <meta name="description" property="og:description"
    content="Everything is a card. All your learning, habits, to-dos, quotes and inspiration in one place." />
  <meta name="author" content="Kolja Plümer">
  {% load static %}
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- load css from static/css -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/elements.css' %}">
  <link rel="stylesheet" href="{% static 'css/classes.css' %}">
  <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body class="full-width full-height">
  <header class="flex border-b p">

    <a href="/" class="border-r p-r">Kaado 2</a>
    <a href="/tags" class="p-x">Tags</a>
    <div class="grow"></div>

    {% load socialaccount %}
    {% if user.is_authenticated %}
    <div>
      You are logged in as {{ user.username }}.
      <a href="{% url 'account_logout' %}">Log out</a>
    </div>
    {% else %}
    <a href="{% provider_login_url 'github' %}">Login with GitHub</a>
    {% endif %}
  </header>

  {% if messages %}
  <div id="messages">
    {% for message in messages %}
    <div class="message fade-out {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <main class="container full-height">
    {% block content %}
    {% endblock content %}
  </main>
  </div>
</body>

</html>