<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8" />
  <!-- set meta tag for screen size -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Maker's Walk</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.43.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <meta name="description" property="og:description"
    content="Become a better maker, one card at a time. Themakerswalk collects habits, resources and learning materials for entrepreneur." />
</head>

<body class="page-content content flex flex-col justify-end h-full">
  <header class="p-4">
    <h1 class="font-bold text-xl text-center">The Maker's Walk</h1>
  </header>

  <main class="flex flex-col items-center p-2 flex-grow">
    {% block content %}
    {% endblock content %}
  </main>

  <footer class="footer flex justify-around py-2">
    <a href="/" class="font-bold">My Cards</a>
    <a href="/about">Learn More</a>
    {% if not user %}
    <a href="/profile">Account</a>
    {% else %}
    <a href="/premium">Go Premium</a>
    {% endif %}
  </footer>
  <script data-goatcounter="https://themakerswalk.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</body>

</html>